<h3>Estadisticas:</h3>
<p>Preguntas Totales : <%= stats.totalPreguntas %></p>
<p>Total de comentarios : <%= stats.totalComentarios %></p>
<p>Numero medio de comentarios por pregunta: <%= stats.promedioComentarios %></p>
<p>Preguntas con comentarios: <%= stats.preguntasComentadas %></p>
<p>Preguntas sin comentarios: <%= stats.preguntasNoComentadas %></p>
